PORT=8080
MONGO_URI=mongodb://127.0.0.1:27017/Token
JWT_SECRET=
ADMIN_USERNAME =
ADMIN_PASSWORD_HASH = 
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
CLIENT_URL=
NODE_ENV=development
REDIS_URL=