PORT=8080
NODE_ENV=production

MONGO_URI=
REDIS_URL=redis://redis:6379

JWT_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

PYTHON_SERVICE_URL=http://python-service:8000
CLIENT_URL=http://localhost:8080